@charset "UTF-8";

body {
	overflow: hidden

}

section#conteudo {
	width: 8500px;
	margin: auto;
	/* overflow: hidden; */
}

iframe#frame-spec {
	width: 400px;
	height: 300px;
	border: none;
	overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
	display: none;
}